// > 1400px
@media screen and (min-width: 1400px) {
  .wrapper {
    .album-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// < 1400px
@media screen and (max-width: 1400px) {
  .wrapper {
    .album-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// < 996px
@media screen and (max-width: 996px) {
  .wrapper {
    .album-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// < 768px
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem 2rem;

    .scroll-top {
      display: none;
    }

    .album-container {
      grid-template-columns: repeat(1, 1fr);

      .img-group {
        &:hover {
          transform: none;
        }
      }
    }

    .toolbar {
      &.hidden {
        width: 2rem;

        &::before {
          font-size: 14px;
          right: 1px;
        }
      }
    }
  }
}
