@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  background-image: linear-gradient(
    rgb(117, 26, 153),
    rgb(26, 79, 95),
    rgb(15, 126, 83)
  );
  padding: 1rem;
  color: #fff;
  overflow-x: hidden;

  //   background-image: url("https://i.pinimg.com/originals/92/dc/13/92dc13df1f31754c07becfe13714288c.gif");
  //   background-repeat: no-repeat;
  //   background-size: cover;

  .heart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;

    .heart {
      width: 160px;

      img {
        width: 100%;
      }
    }

    .date {
      font-size: 2rem;
      font-weight: 600;
    }

    .week {
      font-size: 1em;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 400;
      padding: 1rem;
      border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    }
  }

  .album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    gap: 2rem;

    .img-group {
      width: 90%;
      height: auto;
      border: 1px dotted rgba($color: #fff, $alpha: 0.3);
      padding: 0.3rem;

      .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 0.2rem;
      }

      img,
      video {
        width: 100%;
      }
    }
  }

  footer {
    border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
    padding: 1rem;
    text-align: center;
    line-height: 2.3;

    h4 {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 996px) {
  .wrapper {
    width: 100%;
  }
}
